@import "_font.scss";
@mixin ul {
  list-style: none;
  text-transform: uppercase;
}
@mixin li {
  &:nth-child(1) {
    a {
      color: #ffffff;
    }
  }
}
@mixin headera {
  text-decoration: none;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: #aab79e;
  font-weight: bold;
  font-family: $font-time;
  text-align: right;
  filter: drop-shadow(0.5px 0.866px 0px rgba(0, 0, 0, 0.3));
  &:hover {
    color: #ffffff;
    transition: 0.3s;
  }
}
header {
  background-color: #57614d;
  .container {
    ul {
      @include ul();
      li {
        a {
          @include headera();
        }
        @include li();
      }
    }
  }
}
