@import "_font.scss";
@mixin home {
  background: #181818;
}
@mixin home_backphoto {
  background-image: url("graphic-designers-meeting.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
@mixin home_container {
  max-width: 85%;
  margin: auto;
  padding-top: 7rem;
}
@mixin home_intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  hr {
    margin: auto;
    width: 19rem;
    border: 1px solid #ff3839;
    margin-top: 1rem;
  }
  .home_intro_pone {
    span {
      color: red;
    }
    @include font_with_color();
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
    text-align: center;
  }
  .home_intro_ptwo {
    width: 37rem;
    @include font_with_color();
    font-weight: 700;
    font-size: 50px;
    line-height: 128.5%;
    margin: auto;
    margin-top: 0.6rem;
  }
  .home_intro_pthree {
    width: 50rem;
    @include font_with_color();
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
    text-align: center;
    margin: auto;
    margin-top: 1.3rem;
  }
  .home_intro_button{
    padding-top: 1.5rem;
    @include home_button();
  }
  
}
@mixin home_button {
  .home_button_bone {
    width: 128px;
    height: 44px;
    background: #ff3839;
    border-radius: 5px;
    border: none;
    outline: none;
    @include font_with_color();
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    margin-right: 1rem;
  }
  .home_button_btwo{
    width: 128px;
    height: 44px;
    background: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    @include font();
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    cursor: pointer;
  }
}
#Home {
  @include home();
  .home_backphoto {
    @include home_backphoto();
    .home_container {
      @include home_container();
      .home_intro {
        @include home_intro();
      }
    }
  }
}
