@import "_font.scss";
@mixin col5 {
  h3 {
    font-size: 19px;
    line-height: 24px;
    text-transform: uppercase;
    color: #57614e;
    font-family: $font-time;
  }
  .text-end {
    p {
      font-size: 16px;
      line-height: 24px;
      color: #57614e;
      font-family: $font-time;
    }
  }
}
@mixin col7 {
  h2 {
    font-size: 32px;
    line-height: 24px;
    color: #57614e;
    font-family: $font-time;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    color: #57614e;
    font-family: $font-time;
  }
}
.section_two {
  background-color: #e3e3e3;

  .container {
    .row {
      .col-5 {
        @include col5();
      }

      .col-7 {
        @include col7();
      }
    }
  }
}
