$margin: auto;
$familydel: "Dela Gothic One", cursive;
$familymon: "Montserrat", sans-serif;
@mixin base {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin container {
  display: flex;
  justify-content: space-evenly;
  width: 85%;
  flex-wrap: wrap;
  margin: $margin;
  margin-top: 10%;
}
@mixin framep {
  width: 396.89px;
  height: 50px;
  font-family: $familymon;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.04em;
  color: #757575;
  margin-top: 30px;
  margin-bottom: 30px;
}
@mixin heading {
  width: 474.46px;
  height: 96px;
  font-family: $familydel;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #000000;
}
@mixin end {
  display: flex;
  gap: 10px;
}
@mixin hovertransform {
  &hover {
    transition: all 1s;
    transform: scale(9 9);
  }
}